body {
  font-family: 'Open Sans', sans-serif;
}

.key_indicators_text {
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 288px;
  min-height: 288px;
  padding: 5px;
  font-size: 16pt;
  line-height: 22pt;
  font-weight: 300;
  overflow: auto;
}

.key_indicators_text strong,
.key_indicators_text b {
  font-weight: bold;
}

.key_indicators_text .big {
  font-size: 50pt;
  line-height: 50pt;
  font-weight: 600;
}

.key_indicators_text .small {
  font-size: 11pt;
  line-height: 13pt;
  font-weight: normal;
}

.key_indicators_text p {
  margin-bottom: 0.2em;
}

.homepage_body  p {
  text-align: center;
  font-size: 19pt;
  font-weight: 300;
  line-height: 30pt;
}

.homepage_centre_text  h2 {
  border: none;
  font-weight: normal;
  font-size: 19pt;
  line-height: 26pt;
  margin-bottom: 0;
  padding-bottom: 0;
}
.homepage_centre_text p {
  margin: 0.2em 0 0;
  font-size: 14pt;
  font-weight: 300;
  line-height: 19pt;
}

.CSS1Compat .uw_tf_standard  p {
  color: #757575;
  font-size: 15pt;
  font-weight: 300;
  line-height: 20pt;
}
